/*
--------------------------
Sass Settings for Project
--------------------------

--------------
Index of Parts
--------------

$Debug - Debug on/off switch

$Font Sizing - Base font Size with line height declared

$Branding - Brand colours based on design for use in the build

$Typography - Fonts for the headings and body.

$Links - colors and styles for anchor links.

$Errors - Colors for error messages based around forms

$Flow - Widths, Margins and Padding for the layout


*/



// $Debug
$debugMode:         false;


// $Font 

$base-font-size: 	16;
$base-line-height: 	24;


// $Branding

$brand-color-main: 		blue;
$brand-color-green: 	green;


// Standard Colors for Use in Build

$brand-black:			black;
$brand-grey: 			grey;
$brand-white: 			white;



// $Typography

$body-font: 			'Arial' Helvetica, serif;
$header-font: 			$body-font;


// $Links

$link-color:			red;
$link-color-hover: 		darken($link-color, 10);
$link-color-visited: 	$link-color-hover;
$link-color-focus: 		darken($link-color-hover, 10);

// $Errors

$error: 				red;
$warning: 				purple;
$success: 				green;
$information: 			wheat;


// $Flow

$page-width:1200px;

@mixin margin-bottom{
	margin-bottom:20px;
}


