// Forms. If no forms, remove these bad boys
// -----------------------------------------------------------

button, input { line-height: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; *overflow: visible; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }



/* fixes IE6/7 margin error --------- */

form {
    margin: 0;
}