/*
-----------------------
-----------------------

Base line Typography

-----------------------
-----------------------

*/



// We Start with a lovely mixin


@mixin font-rem($size) {
	font-size: 0px + $size;
	font-size: $size / $base-font-size +rem;
}

// We Declare our Line Height

$line-height:1.4;


// Body Styles

body{
	line-height:$line-height;
}

p{
	@include font-rem(16);
	line-height:1.75;
	@include margin-bottom;
}

strong{
	font-weight:800;
}


em{
	font-style:italic;
}



// Links 

a {
	&:link {
		color: $link-color;
	}
	&:visited {
		color: $link-color-visited
	}
	&:hover {
		color: $link-color-hover
	}
	&:active {
		color: $link-color-hover;
		position:relative;
		top:1px;
	}
	&:focus {
		color: $link-color-focus
	}
}

a{	
	display:inline-block;
	text-decoration:none;
}

p a{
	text-decoration:none;
}

// Buttons Made from Links

a.btn{
	display:inline-block;
	padding:8px 12px;
	background-color:red;
	@include border-radius;
	color:white;
	text-decoration:none;
	@include margin-bottom;
}

// Lists


ul, ol, dl{
	@include margin-bottom;
}

ul{
	list-style:none;
}

ul li, ol li, dl dt{
	margin:0 0 5px 0;
}

li ul, li ol, dt dl{
	margin:0 0 0 20px;
}

// Headings


h1{
	@include font-rem(32);
	@include margin-bottom;
}


h2{
	@include font-rem(26);
	@include margin-bottom;

}


h3{
	@include font-rem(22);
	@include margin-bottom;

}


h4{
	@include font-rem(20);
	@include margin-bottom;

}


h5{
	@include font-rem(18);
	@include margin-bottom;

}

h6{
	@include font-rem(16);
	@include margin-bottom;

}